* {
  box-sizing: border-box;
}
body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #333;
  width:20px
}
.head {
  width:1446px;
  height:120px;
  position:fixed;
  left:-7px;
  top:1px;
  background-color: #202020;
  box-shadow: 0 5px 20px 0 rgba(122, 122, 122, 0.274);
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight:400;
  text-transform: uppercase;
  text-shadow: 0 2px 20px rgba(71, 68, 255, 0.644)
}
.mainL {
  width: 100px;
  height: 65px;
  left: 57px;
  position: absolute;
  filter: grayscale(.8);
}
.produc1 {
width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  left: 264px;
  top: 162px;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.8, -0.02, 0.25, 1);
  filter: blur(1px);
  opacity: 90%;
  z-index: -3;
  border: #eee 3px double;
  cursor:pointer;
}
.produc1:hover {
  border-radius:30px;
  transform:scale(1.2);
  filter: blur(0);
  opacity:100%
}
.dproduc1 {
width: 173px;
  height: 44px;
  position: absolute;
  left: 274px;
  top: 261px;
  background-color: #ffffffad;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 400;
  font-size: 20px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.lproduc1 {
    width: 80px;
      height: 61px;
      position: absolute;
      left: 349px;
      top: 211px;
}
.produc2 {
width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  left: 484px;
  top: 162px;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.8, -0.02, 0.25, 1);
  filter: blur(1px);
  opacity: 90%;
  z-index: -3;
  border: #eee 3px double;
  cursor:pointer;
}

.produc2:hover {
  border-radius: 30px;
  transform: scale(1.2);
  filter: blur(0);
  opacity: 100%
}

.dproduc2 {
width: 173px;
  height: 44px;
  position: absolute;
  left: 496px;
  top: 261px;
  background-color: #ffffffad;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 400;
  font-size: 20px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

.lproduc2 {
width: 131px;
  height: 101px;
  position: absolute;
  left: 512px;
  top: 206px;
  border-radius: 30px;
  z-index: -3;
}
.produc3 {
width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  left: 700px;
  top: 162px;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.8, -0.02, 0.25, 1);
  filter: blur(1px);
  opacity: 90%;
  z-index: -3;
  border: #eee 3px double;
  cursor:pointer;
}

.produc3:hover {
  border-radius: 30px;
  transform: scale(1.2);
  filter: blur(0);
  opacity: 100%
}

.dproduc3 {
width: 173px;
  height: 44px;
  position: absolute;
  left: 711px;
  top: 261px;
  background-color: #ffffffad;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 400;
  font-size: 20px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

.lproduc3 {
width: 131px;
  height: 101px;
  position: absolute;
  left: 725px;
  top: 206px;
  border-radius: 30px;
  z-index: -3;
}
.produc4 {
width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  left: 919px;
  top: 162px;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.8, -0.02, 0.25, 1);
  filter: blur(1px);
  opacity: 90%;
  z-index: -3;
  border: #eee 3px double;
  cursor:pointer;
}

.produc4:hover {
  border-radius: 30px;
  transform: scale(1.2);
  filter: blur(0);
  opacity: 100%
}

.dproduc4 {
    width: 173px;
      height: 44px;
      position: absolute;
      left: 929px;
      top: 261px;
      background-color: #ffffffad;
      box-shadow: 2px 2px 20px 0 #1c1c1ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: 400;
      font-size: 20px;
      border-bottom-left-radius: 100px;
      border-top-right-radius: 100px;
}
.lproduc4 {
width: 131px;
  height: 101px;
  position: absolute;
  left: 933px;
  top: 206px;
  border-radius: 30px;
  z-index: -3;
}




.produc5 {
width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  left: 375px;
  top: 368px;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.8, -0.02, 0.25, 1);
  filter: blur(1px);
  opacity: 90%;
  z-index: -3;
  border: #eee 3px double;
  cursor:pointer;
}

.produc5:hover {
  border-radius: 30px;
  transform: scale(1.2);
  filter: blur(0);
  opacity: 100%
}

.dproduc5 {
    width: 173px;
      height: 44px;
      position: absolute;
      left: 386px;
      top: 466px;
      background-color: #ffffffad;
      box-shadow: 2px 2px 20px 0 #1c1c1ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: 400;
      font-size: 20px;
      border-bottom-left-radius: 100px;
      border-top-right-radius: 100px;
}

.lproduc5 {
    width: 115px;
      height: 148px;
      position: absolute;
      left: 415px;
      top: 384px;
      z-index: -2;
}

.produc6 {
width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  left: 598px;
  top: 368px;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.8, -0.02, 0.25, 1);
  filter: blur(1px);
  opacity: 90%;
  z-index: -3;
  border: #eee 3px double;
  cursor:pointer;
}

.produc6:hover {
  border-radius: 30px;
  transform: scale(1.2);
  filter: blur(0);
  opacity: 100%
}

.dproduc6 {
width: 173px;
  height: 44px;
  position: absolute;
  left: 608px;
  top: 466px;
  background-color: #ffffffad;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 400;
  font-size: 20px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

.lproduc6 {
  width: 131px;
  height: 101px;
  position: absolute;
  left: 619px;
  top: 415px;
  border-radius: 30px;
  z-index: -3;
}

.produc7 {
width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  left: 811px;
  top: 368px;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.8, -0.02, 0.25, 1);
  filter: blur(1px);
  opacity: 90%;
  z-index: -3;
  border: #eee 3px double;
    cursor:pointer;
}

#produc7:hover {
  border-radius: 30px;
  transform: scale(1.2);
  filter: blur(0);
  opacity: 100%
}

.dproduc7 {
width: 173px;
  height: 44px;
  position: absolute;
  left: 822px;
  top: 466px;
  background-color: #ffffffad;
  box-shadow: 2px 2px 20px 0 #1c1c1ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 400;
  font-size: 20px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

.lproduc7 {
width: 142px;
  height: 118px;
  position: absolute;
  left: 820px;
  top: 401px;
  border-radius: 30px;
  z-index: -3;
}
.showP {
position: relative;
  left: 250%;
  top: 57%;
  transform: translate(100%, 44%) scale(0);
  width: 346px;
  height: 443px;
  background-color: #202020;
  border-radius: 50px;
  box-shadow: 2px 2px 20px 0 #2b2b2bc4;
  transition-duration: .5s;
  transition-timing-function: ease;
  filter:blur(20px);
  opacity:0%
}
.showAct {
position: relative;
  left: 250%;
  top: 57%;
  transform: translate(126%, 44%) scale(1);
  width: 346px;
  height: 443px;
  background-color: #090f2c;
  border-radius: 50px;
  box-shadow: 2px 2px 20px 0 #2b2b2bc4;
  filter: blur(0);
  opacity: 100%;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(0.61, 0.01, 0.25, 1);
}
.mproduc1 {
  width: 286px;
  height: 377px;
  position: absolute;
  top: 7%;
  left: 9%;
  border-radius: 31px;
  box-shadow: 2px 2px 20px 0 #0a0a0a47;
  transform: scale(0);
    z-index: 2
}
.mproduc2 {
  width: 286px;
  height: 377px;
  position: absolute;
  top: 7%;
  left: 9%;
  border-radius: 31px;
  box-shadow: 2px 2px 20px 0 #0a0a0a47;
  transform: scale(0);
    z-index: 2
}
.mproduc3 {
  width: 286px;
  height: 377px;
  position: absolute;
  top: 7%;
  left: 9%;
  border-radius: 31px;
  box-shadow: 2px 2px 20px 0 #0a0a0a47;
  transform: scale(0);
    z-index: 2
}
.mproduc4 {
  width: 286px;
  height: 377px;
  position: absolute;
  top: 7%;
  left: 9%;
  border-radius: 31px;
  box-shadow: 2px 2px 20px 0 #0a0a0a47;
  transform: scale(0);
    z-index: 2
}
.mproduc5 {
  width: 286px;
  height: 377px;
  position: absolute;
  top: 7%;
  left: 9%;
  border-radius: 31px;
  box-shadow: 2px 2px 20px 0 #0a0a0a47;
  transform: scale(0);
    z-index: 2
}
.mproduc6 {
  width: 286px;
  height: 377px;
  position: absolute;
  top: 7%;
  left: 9%;
  border-radius: 31px;
  box-shadow: 2px 2px 20px 0 #0a0a0a47;
  transform: scale(0);
    z-index: 2
}
.mproduc7 {
  width: 286px;
    height: 377px;
    position: absolute;
    top: 7%;
    left: 9%;
    border-radius: 31px;
    box-shadow: 2px 2px 20px 0 #0a0a0a47;
    transform: scale(0);
    z-index: 2
}
.icon {
  width:40px;
  height:40px;
  position:absolute;
  cursor: pointer;
}