* {
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-family:Arial, Helvetica, sans-serif;
  height: 20px;
}
.head {
  background-color: #2a2a2a;
  position: fixed;
  left: -7px;
  top: -8px;
  width: 101%;
  height: 66px;
  box-shadow: 0px 3px 20px 0 #0017921f;
  z-index: 5;
}
#mainLogo2 {
  width: 72px;
  height: 49px;
  position: absolute;
  margin-left: 149px;
  margin-top: 10px;
  transform: rotate(0) scale(1);
  transition-duration: .5s;
  transition-timing-function: ease;
  opacity: 100%;
}
body::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
.produc {
position: absolute;
  font-weight: 400;
  font-size: 20px;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  left: 784px;
  top: 7px;
  cursor: pointer;
  transform: scale(1);
  opacity: 100%;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
  transition-duration: .5s;
  text-shadow: 2px 2px 12px #3e28ff9a;
  margin-right: 20px;
}
.produc:hover {
  transform: scale(.8);
  opacity: 85%;
}
.printing {
  position: absolute;
  font-weight: 400;
  font-size: 20px;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  left: 643px;
  top: 7px;
  cursor: pointer;
  transform: scale(1);
  opacity: 100%;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
  transition-duration: .5s;
  text-shadow: 2px 2px 12px #3e28ff9a;
}
.printing:hover {
  transform: scale(.8);
  opacity: 85%;
}
.contact {
  position: absolute;
  font-weight: 400;
  font-size: 20px;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  left: 910px;
  top: 7px;
  cursor: pointer;
  transform: scale(1);
  opacity: 100%;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
  transition-duration: .5s;
  text-shadow: 2px 2px 12px #3e28ff9a;
}
.contact:hover {
  transform: scale(.8);
  opacity: 85%;
}
.ourPart {
    position: absolute;
      font-weight: 400;
      font-size: 20px;
      color: #eee;
      font-family: Arial, Helvetica, sans-serif;
      left: 1050px;
      top: 26px;
      cursor: pointer;
      transform: scale(1);
      opacity: 100%;
      transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
      transition-duration: .5s;
      text-shadow: 2px 2px 12px #3e28ff9a;
      text-decoration: none;
}
.OurPart:hover {
  transform: scale(.8);
  opacity: 85%;
}
.pl {
width: 935px;
  height: 0;
  background-color: #171717d6;
  box-shadow: inset 0 2px 20px 0 #000000c9;
  position: relative;
  left: 146px;
  top: 65px;
  display:flex;
  color:white;
  font-weight:300;
  font-size: 20px;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
}
.plA {
  width: 935px;
    height: 188px;
    background-color: #171717d6;
    box-shadow: inset 0 2px 20px 0 #000000c9;
    position: relative;
    left: 146px;
    top: 65px;
    display: flex;
    color: white;
    font-weight: 300;
    font-size: 20px;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
  }
.aboutP {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin: 26px;
        transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
filter: blur(14px) opacity(0%);
}
.featP {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin: 26px;
  top:44px;
        transition-duration: .3s;
      transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
      filter: blur(14px) opacity(0%);
}
.PreDeparP {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin: 26px;
  top: 92px;
        transition-duration: .3s;
      transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
      filter: blur(14px) opacity(0%);
}
.SelfAdhesMater {
    color: white;
      text-decoration: none;
      font-weight: 100;
      font-size: 18px;
      display: flex;
      justify-content: left;
      position: absolute;
      margin: 26px;
      left:300px;
        transition-duration: .3s;
          transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
          filter: blur(14px) opacity(0%);
}
.InduSuit {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin: 26px;
  top:92px;
  left:300px;
  transition-duration:.3s;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
  filter:blur(14px)
  opacity(0%);
}
.PLPR {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin: 26px;
  top: 47px;
  left: 300px;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
  filter: blur(14px) opacity(0%);
}
.aboutPA {
      color: white;
      text-decoration: none;
      font-weight: 100;
      font-size: 18px;
      display: flex;
      justify-content: left;
      position: absolute;
      margin: 26px;
      transition-delay: .5s;
      transition-duration: .6s;
      transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
      filter: blur(0) opacity(100%);
}
.featPA {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin: 26px;
  top: 44px;
  transition-delay: .5s;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
  filter: blur(0) opacity(100%);
}

.PreDeparPA {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin: 26px;
  top: 92px;
  transition-delay: .5s;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
  filter: blur(0) opacity(100%);
}

.SelfAdhesMaterA {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin: 26px;
  left: 300px;
  transition-delay: .5s;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
  filter: blur(0) opacity(100%);
}
.PLPRA{
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin: 26px;
  top: 47px;
  left: 300px;
  transition-delay: .5s;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
  filter: blur(0) opacity(100%);
}
@media (min-width:992px) and (max-width:1100px) {
.head {
    width: 992px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}
    .produc {
        position: absolute;
        font-weight: 400;
        font-size: 20px;
        color: #eee;
        font-family: Arial, Helvetica, sans-serif;
        left: 484px;
        top: 7px;
        cursor: pointer;
        transform: scale(1);
        opacity: 100%;
        transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
        transition-duration: .5s;
        text-shadow: 2px 2px 12px #3e28ff9a;
        margin-right: 20px;
      }
    
      .produc:hover {
        transform: scale(.8);
        opacity: 85%;
      }
    
      .printing {
        position: absolute;
        font-weight: 400;
        font-size: 20px;
        color: #eee;
        font-family: Arial, Helvetica, sans-serif;
        left: 343px;
        top: 7px;
        cursor: pointer;
        transform: scale(1);
        opacity: 100%;
        transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
        transition-duration: .5s;
        text-shadow: 2px 2px 12px #3e28ff9a;
      }
    
      .printing:hover {
        transform: scale(.8);
        opacity: 85%;
      }
    
      .contact {
        position: absolute;
        font-weight: 400;
        font-size: 20px;
        color: #eee;
        font-family: Arial, Helvetica, sans-serif;
        left: 629px;
        top: 7px;
        cursor: pointer;
        transform: scale(1);
        opacity: 100%;
        transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
        transition-duration: .5s;
        text-shadow: 2px 2px 12px #3e28ff9a;
      }
    
      .contact:hover {
        transform: scale(.8);
        opacity: 85%;
      }
    
      .ourPart {
        position: absolute;
        font-weight: 400;
        font-size: 20px;
        color: #eee;
        font-family: Arial, Helvetica, sans-serif;
        left: 750px;
        top: 26px;
        cursor: pointer;
        transform: scale(1);
        opacity: 100%;
        transition-timing-function: cubic-bezier(0.95, 0.03, 0.25, 1);
        transition-duration: .5s;
        text-shadow: 2px 2px 12px #3e28ff9a;
        text-decoration: none;
      }
    
      .OurPart:hover {
        transform: scale(.8);
        opacity: 85%;
      }
}
.intoImg {
  position: absolute;
  z-index: -2;
  width: 1000px;
  height: 700px;
  top: -625px;
  left: 15%;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  box-shadow: -2px 6px 20px 0 #00000023;
  animation-name:intoImg;
  animation-delay: .2s;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.9, -0.01, 0.25, 1);
  animation-fill-mode: forwards;
  filter:brightness(.9);
  transition-timing-function: cubic-bezier(0.92, 0.02, 0.17, 1);
  transition-duration: .5s;
}
.intoImg:hover {
  filter:brightness(1)
}
@keyframes intoImg {
  from {
    position: absolute;
    z-index: -2;
    width: 1000px;
    height: 700px;
    top: -625px;
    left: 15%;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    box-shadow: -2px 6px 20px 0 #0000002d;
    opacity:60%;
  }
  to {
    position: absolute;
    z-index: -2;
    width: 1000px;
    height: 700px;
    top: 0;
    left: 15%;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    opacity: 100%;
  }
}

.mainLogo {
  z-index: -1;
  width: 256px;
  height: 160px;
  position: absolute;
  left: 20%;
  top:19%;
  filter:blur(8px);
  opacity:0;
  transform: rotate(0);
  animation-name:mainLogo;
  animation-delay:1.8s;
  animation-duration: .5s;
  animation-timing-function:cubic-bezier(0.9, -0.01, 0.25, 1);
  animation-fill-mode:forwards;
  transition-timing-function: cubic-bezier(0.92, 0.02, 0.17, 1);
  transition-duration: .3s;
}
@keyframes mainLogo {
  from {
    z-index: -1;
    width: 256px;
    height: 160px;
    position: absolute;
    left: 40%;
    top: -10%;
    filter: blur(8px);
    opacity: 0;
  }
  to {
    z-index: -1;
    width: 256px;
    height: 160px;
    position: absolute;
    left: 40%;
    top: 19%;
    filter: blur(0);
    opacity: 100;
    transform:rotate(360deg)
  }
}
.mainLogo:hover {
  transform: rotate(360deg);
}
h4 {
  font-weight: 500;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
  position: absolute;
  left: 29%;
  top: 40%;
  animation-name:hh;
  animation-duration: .4s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
  animation-timing-function:cubic-bezier(0.99, 0, 0.25, 1);
  opacity:0%;
  filter:blur(5px)
}
h4::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
@keyframes hh {
  from {
    font-weight: 500;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    position: absolute;
    left: 29%;
    top: 40%;
    opacity:0%;
    filter: blur(5px)
  }
  to {
    font-weight: 500;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    position: absolute;
    left: 29%;
    top: 37%;
    opacity: 100%;
    filter: blur(0)
  }
}
.trust {
    font-weight: 600;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    position: absolute;
    left: 447px;
    top: 55%;
    animation-name: trust;
    animation-duration: .4s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.99, 0, 0.25, 1);
    opacity: 0%;
    filter: blur(7px)
}
.trust::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
@keyframes trust {
  from {
    font-weight: 600;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    position: absolute;
    left: 447px;
    top: 55%;
    opacity:0%;
    filter:blur(7px)
}
  to {
    font-weight: 600;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    position: absolute;
    left: 447px;
    top: 50%;
    opacity: 100%;
    filter:blur(0)
}
}
.aboutUs-content {
position: relative;
  width: 100%;
  height: 400px;
  background-color: transparent;
  top: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#title2 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:40px;
  color:#081161;
  position:absolute;
  top:10px;
  text-shadow: 2px 2px 15px rgba(15, 0, 82, 0.397);
  opacity:100%;
  transition-duration:.5s;
  transition-timing-function: ease;
}
.who {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-display:initial;
  color:#eee;
  position:absolute;
  top:63%;
}
.who::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
.p1-who {
    font-weight: 500;
      font-size: 30px;
      color: #eee;
      letter-spacing: 2.5px;
      margin-right: 350px;
      margin-left: 300px;
      position: absolute;
      top: 291px;
      text-shadow: 2px 2px 15px rgba(15, 0, 82, 0.397);
}
.p1-who::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
.p2-who {
font-weight: 500;
  font-size: 30px;
  color: #eee;
  letter-spacing: 2.5px;
  margin-right: 350px;
  margin-left: 300px;
  position: absolute;
  top: 543px;
  text-shadow: 2px 2px 15px rgba(15, 0, 82, 0.397);
  text-align: center;
}
.p2-who::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
.p3-who {
  font-weight: 500;
  font-size: 30px;
  color: #eee;
  letter-spacing: 2.5px;
  margin-right: 350px;
  margin-left: 300px;
  position: absolute;
  top: 736px;
  text-shadow: 2px 2px 15px rgba(15, 0, 82, 0.397);
  text-align: center;
}
.p3-who::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
@media (min-width:992px) and (max-width:1100px) {
  .intoImg {
    position: absolute;
    z-index: -2;
    width: 1000px;
    height: 700px;
    top: -625px;
    left: 15%;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    box-shadow: -2px 6px 20px 0 #00000023;
    animation-name: intoImg;
    animation-delay: .2s;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.9, -0.01, 0.25, 1);
    animation-fill-mode: forwards;
    filter: brightness(.9);
    transition-timing-function: cubic-bezier(0.92, 0.02, 0.17, 1);
    transition-duration: .5s;
  }
.p1-who {
  font-weight: 500;
  font-size: 30px;
  color: #eee;
  letter-spacing: 2.5px;
  margin-right: 150px;
  margin-left: 100px;
  position: absolute;
  top: 291px;
  text-shadow: 2px 2px 15px rgba(15, 0, 82, 0.397);
}
.p2-who {
  font-weight: 500;
  font-size: 30px;
  color: #eee;
  letter-spacing: 2.5px;
  margin-right: 150px;
  margin-left: 100px;
  position: absolute;
  top: 543px;
  text-shadow: 2px 2px 15px rgba(15, 0, 82, 0.397);
  text-align: center;
}
.p2-who::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
.p3-who {
  font-weight: 500;
  font-size: 30px;
  color: #eee;
  letter-spacing: 2.5px;
  margin-right: 150px;
  margin-left: 100px;
  position: absolute;
  top: 736px;
  text-shadow: 2px 2px 15px rgba(15, 0, 82, 0.397);
  text-align: center;
}

.p3-who::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
}
.p1-who::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
.who-title {
  font-weight:600;
  font-size:33px;
}
.who-title::selection {
  background-color: rgb(0, 0, 0);
  color: #5f9fff;
}
.whoImg {
  width: 1426px;
  height: 630px;
  position: absolute;
  left: -10px;
  z-index: -7;
  top: 252px;
  opacity: 60%;
  border-top-right-radius: 600px;
  box-shadow: -2px -2px 15px 0 #c1c1c170;
  filter:contrast(100px)
}
.food {
  width: 500px;
  height: 630px;
  border-radius: 500px;
  position: absolute;
  top: 1678px;
  left: 29%;
  filter: blur(10px);
  transition-duration:.5s;
  transition-timing-function: cubic-bezier(0.62, 0.03, 0.25, 1)
}
.food:hover {
  filter:blur(0);
  opacity:80%;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  color: #eee;
  text-transform: capitalize;
  position: absolute;
  left: 38%;
  top: 1678px;
}
h2::selection {
    background-color: rgb(0, 0, 0);
    color: #8189fd;
}
.foodL {
  position: absolute;
  z-index: 10;
  width: 400px;
  height: 646px;
  top: 1650px;
  left: 32%;
}
.linkP {
  font-weight: 500;
  font-size: 30px;
  color: whitesmoke;
  text-transform: capitalize;
  text-decoration: solid;
  border-width: 5px;
  border-color: white;
  border-style: double;
  border-radius: 58px;
  position: absolute;
  left: 30%;
  top: 2211px;
  cursor:pointer;
}
h1 {
    font-weight: 600;
      color: #eee;
      font-size: 40px;
      border-bottom-width: 5px;
      border-bottom-color: white;
      border-bottom-style: solid;
      width: 355px;
      text-transform: uppercase;
      position: absolute;
      left: 33%;
      top: 2360px;
}
.fillingC {
  color: rgb(255, 0, 119);
  font-size:36px;
  text-shadow:3px 5px 15px rgb(54, 0, 0)
}
.packingC {
  color: rgb(0, 119, 255);
  font-size: 36px;
  text-shadow: 1px 5px 15px rgb(0, 14, 54)
}
.fAndp {
width: 438px;
  height: 387px;
  background-image: linear-gradient(45deg, #de003382, #6300e7a1);
  border: #eee 1px double;
  border-bottom-right-radius: 167px;
  border-top-left-radius: 167px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 22px;
  text-align: left;
  font-weight: 600;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.185);
  position: absolute;
  left: 2%;
  top: 2486px;
  transition-duration:.5s;
  transition-timing-function: cubic-bezier(0.62, 0.03, 0.25, 1);
}
.fAndp:hover {
  transform:scale(1.07) translateX(-6px)
}
.fAPT {
  margin-left:60px;
  margin-right:60px;
}
.standaring {
  width: 500px;
  height: 40px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: #000000 4.5px double;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.185);
  position: absolute;
  top: 2485px;
  left: 477px;
}
.iso {
  width: 505px;
  height: 100px;
  background-image: linear-gradient(to right, transparent, #505050);
  position: relative;
  left: 466px;
  top: 2132px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.isoI {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 78%;
  top: 3px;
}
.isoP {
  color: #eee;
  font-weight: 400;
  font-size: 20px;
  margin-right: 128px;
  text-align: center;
  position: absolute;
  top: 5px;
}
.sau {
  width: 505px;
  height: 100px;
  background-image: linear-gradient(to right, transparent, #505050);
  position: relative;
  left: 466px;
  top: 2154px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sauI {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 78%;
  top: 3px;
}

.sauP {
  color: #eee;
  font-weight: 400;
  font-size: 20px;
  margin-right: 128px;
  text-align: center;
  position: absolute;
  top: 5px;
}
.fP {
  width: 406px;
  height: 387px;
  position: absolute;
  left: 71%;
  top: 2486px;
  border-top-right-radius: 130px;
  border-bottom-left-radius: 130px;
  opacity: 90%;
  filter: blur(5px);
  transition-duration:.5s;
  transition-timing-function: cubic-bezier(0.62, 0.03, 0.25, 1);
}
.fP:hover {
  filter: blur(0);
  opacity:100%;
  transform: scale(1.05) translateX(-4px)
}
@media (min-width:992px) and (max-width:1100px) {
.fAndp {
    width: 338px;
    height: 287px;
    background-image: linear-gradient(45deg, #de003382, #6300e7a1);
    border: #eee 1px double;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 22px;
    text-align: left;
    font-weight: 600;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.185);
    position: absolute;
    left: 2%;
    top: 2486px;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.62, 0.03, 0.25, 1);
  }
  .fAndp:hover {
    transform: scale(1.07) translateX(-6px)
  }
.fP {
    width: 250px;
      height: 233px;
      position: absolute;
      left: 75%;
      top: 2525px;
      border-top-right-radius: 90px;
      border-bottom-left-radius: 90px;
      opacity: 90%;
      filter: blur(5px);
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0.62, 0.03, 0.25, 1);
}

.fP:hover {
  filter: blur(0);
  opacity: 100%;
  transform: scale(1.01) translateX(-4px)
}
.standaring {
  width: 365px;
  height: 40px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: #000000 4.5px double;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.185);
  position: absolute;
  top: 2485px;
  left: 377px;
}
.iso {
  width: 408px;
  height: 100px;
  background-image: linear-gradient(to right, transparent, #505050);
  position: relative;
  left: 356px;
  top: 2132px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sau {
  width: 408px;
  height: 100px;
  background-image: linear-gradient(to right, transparent, #505050);
  position: relative;
  left: 356px;
  top: 2154px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
}
.foot {
  position: relative;
  width: 1424px;
  left: -7px;
  height: 187px;
  background-color: #232323;
  box-shadow: 0 -6px 20px 0 #eeeeee1f;
  top: 2255px;
  z-index: -10;
}
.address {
    color: white;
      font-weight:lighter;
      font-size: 15px;
      position: absolute;
      top: 10px;
      left: 160px;
      text-shadow:2px 2px 20px #00000069
}
.linkA {
  color: white;
  text-decoration: underline;
  font-weight: lighter;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 157px;
  text-shadow: 2px 2px 20px #00000069;
  transition-duration:.5s;
  transition-timing-function:cubic-bezier(0.62, 0.03, 0.25, 1);
}
.linkA:hover {
  transform: scale(1.07) translateX(16px)
}
.SM {
  color: white;
  font-weight: lighter;
  font-size: 15px;
  position: absolute;
  top: 90px;
  left: 157px;
  text-shadow: 2px 2px 20px #00000069;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.62, 0.03, 0.25, 1);
}
.face {
  text-decoration: none;
  color:white;
  font-weight:500;
  font-size:15px;
  position:absolute;
  left:157px;
  top:130px;
  width:30px;
  height:30px;
  background-color: rgb(32, 73, 255);
  display:flex;
  justify-content:center;
  align-items: center;
  border-radius:50%;
  border:white 2px solid;
}
.twit {
  text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    left: 180px;
    top: 130px;
    width: 30px;
    height: 30px;
    background-color: rgb(32, 155, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: white 2px solid;
}
.linkd {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  left: 200px;
  top: 130px;
  width: 30px;
  height: 30px;
  background-color: rgb(34, 111, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: white 2px solid;
}
.contac {
  color: white;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  left: 532px;
  top: 89px;
}